
html,body {
	font-family: 'Athiti', sans-serif;
}

body {
	background-color: #eee;
}

header {
	position:relative;
	height:60px;
	line-height:60px;
	z-index:1;
	font-size:0.8em;
}

header img {
	height:40px;
	padding:0 20px;
}

.header-background {
	background-color: rgba(0,0,0,0.7);
}

.header-text {
	padding:0 30px;
	color:white;
}

.header-text:hover {
	color:#3ab1c8;
	text-decoration: none;
	transition:0.2s;
	border-bottom:3px solid #3ab1c8;
}

.header-text.active {
	color:#3ab1c8;
}

.header-placeholder {
	height:60px;
	width:100%;
}

/*HOMEPAGE ---------------------------------*/

#heroVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.hero-overlay {
	position:absolute;
	background-color:#232323;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.6;
}

.hero-text-overlay {
	width:100%;
	z-index:2;
	color:white;
	position:absolute;
	bottom:35%;
	right:0;
}

.hero-text-overlay h1 {
	font-size:4em;
}

.hero-text-overlay p {
	font-size:1.2em;
	letter-spacing:5px;
}

.homepage-hero-button {
  padding:10px 20px;
  border:0.5px solid white;
  border-radius:5px;
  background: none;
  color:white;
  position: relative;
  transition:color 0.25s ease;
}

.homepage-hero-button::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  transform-origin:left;
  transition:width 0.25s ease;
}

.homepage-hero-button:hover {
  text-decoration: none;
  color:white;
}

.homepage-hero-button:hover::after {
  width: 100%;
}

/*portfolio-------------------------------------------------------------------------------*/


.portfolio-single-project {
 	padding:0;
 	position:relative;
}

.portfolio-single-project img {
	width:100%;
	height:100%;
}

.portfolio-overlay {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0;
}

.portfolio-overlay-text {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	color:white;
	opacity:0;
	text-align:center;
	font-size:2em;
	padding-bottom:30%;
}

.portfolio-info-for-mobile {
	display:none;
}

.portfolio-single-project:hover .portfolio-overlay {
	transition:0.3s;
	opacity:0.8;
}

.portfolio-single-project:hover .portfolio-overlay-text {
	transition:0.3s;
	opacity:1;
}

/*RESUME-------------------------------------------------------------------*/

.singlerow {
	padding:16px 0;
	border-top:0.25px solid #dddddd;
}

.title-sub {
	color:#3ab1c8;
}

.title-main {
	color:#e76f51;
	font-weight:normal;
}

/*contact----------------------------------------------------------------*/

.contact-page-info {
	text-align:center;
	padding:50px;
	border:0.5px solid rgba(100,100,100,1);
	margin:100px;
}

.contact-page-footer {
	position:absolute;
	bottom:0;
}

.contact-page-social i {
	color:black;
	font-size:2em;
	padding:15px;
}

/*----------------------------------single page-----------------------------------*/

.single-project-image-yelp {
	width:100%;
}

.case-study-button {
	text-align:center;
	width:160px;
	padding:6px 12px;
	background-color:black;
	color:white;
	border-radius:32px;
	border:0.5px solid transparent;
	margin:0 5px;
	margin-top:60px;
}

.case-study-button:hover {
	text-decoration: none;
	border:0.5px solid black;
	background-color:white;
	color:black;
	transition: 0.1s;
}

.single-project-card {
	padding:40px 0;
	border-top:0.5px solid #ccc;
}

.single-project-image-photography {
	width:100%;
	padding:20px;
}

/*footer----------------------------------------------------------------*/

footer {
	position:absolute;
	color:white;
	height:80px;
	line-height:80px;
	background-color: rgba(0,0,0,0.7);
	font-size:0.8em;
}

.footer-mediaicon i {
	color:white;
	font-size:1.6em;
	padding:0 10px;
}

.footer-link a {
	padding:0 10px;
	color:white;
}

.contact-page-footer {
	position:absolute;
	bottom:0;
	left:0;
}

/*singleproject*/

.single-project-image {
	width:100%;
	height:100%;

}

.single-project-video {
	padding:5% 0;
}

.single-project-video iframe {
	width:100%;
	height:600px;
}





@media (max-width: 768px) {

/*homepage herotext*/
	.hero-text-overlay h1 {
		font-size:3em;
	}

}



@media (max-width: 576px) {
/*navigation bar*/
	header {
		font-size:0.6em;
	}

	header img {
		padding:0;
		height:30px;
	}

	.header-menu {
		position:absolute;
		right:0;
		top:0;
	}

	.header-text {
		padding:0 10px;
	}

/*homepage herotext*/
	.hero-text-overlay h1 {
		font-size:2em;
	}

	.hero-text-overlay p {
		font-size:0.8em;
	}
/*homepage herobutton*/
	.homepage-hero-button {
	    padding:8px 16px;
		font-size:0.8em;
}

/*portfolio page project title*/
	.portfolio-info-for-mobile {
		position:absolute;
		bottom:10%;
		left:0;
		z-index:3;
		display:block;
		padding:50px auto;
		background:#353535;
		color:white;
		padding:1px 5px;
	}

/*contact page*/
.contact-page-info {
	font-size:0.6em;
	margin:30% 50px;
}

.contact-page-info h2 {
	font-size:2em;
}

/*footer*/
footer {
	height:110px;
}

footer .row div {
	height:35px;
	line-height:35px;
}




@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}